body{
    background: linear-gradient(135deg,#bb1bbb,#f75603);
}

.container{
    position:absolute;
    margin-top: 250px;
    margin-left: 580px;
    align-items: center;
}

input{
    height: 50px;
    width: 75px;
    font-family: Verdana;
    font-weight: bold;
    font-size: larger;
}
#rset{
    background: linear-gradient(130deg,#1bbb7d,#03dff7);
    transition: color 1s ease-in;
    margin-left: 70px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}
#rset:hover{
    background: linear-gradient(135deg,#1b53bb,#f703f4);
    transition: color 1s ease-in;
    transition: 1s;
    color: white;
}
h1{
    text-align: center;
}