*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #c1c1c1;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 350px;
    width: 500px;
    position: relative;
    margin-left: 35%;
    margin-top: 15%;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;
}
.input_div input{
    height: 30px;
    width: 70%;
    font-size: 16px;
    outline-color: red;
}
.button{
    position: relative;
    padding: 20px;
    width: fit-content;
    margin-top: 160px;
}
.button button{
    height: 50px;
    width: 100px;
}
.left{
    left: 0;
    transition: 0.3s;
}
.right{
    margin-left: 300px;
    transition: 0.3s;
}
.align{
    margin-left: 120px;
}