body{
    background: linear-gradient(170deg,#8a1bbb,#0dc9f0);
    height: 100vh;
    width:fit-content;
    background-repeat: no-repeat;
}
button{
    font-family:Arial, Helvetica, sans-serif;
}
img{
    height:100px;
    width: auto;
    position:absolute;
    padding: 20px;
    margin-left: 0;
}